/* TODO LIST STYLING
.todoList {
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    list-style-type: decimal;
    width: 30em;
}

.todoItem {
    position: relative;
    left: .1em;
    cursor: pointer;
}

.todoItem:hover {
    color: #2c3a41;
    background-color: #e6e6e6; 
}

.todoItem:active {
    background-color: #525252;
    color: #fafafa;
} */