
<!-- text-base text-yellow-700 font-semibold tracking-wide uppercase justify-start relative -->
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex-row space-x-10">
    <div>
        <p class="uppercase font-bold text-gray-900 ">Instrument: {{currentInstrument.name}}</p>
        <p class="uppercase font-bold text-gray-900">Tuning: {{currentInstrument.tuning}}</p>
    </div>
    
</div>

<main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 center">
        <div class="px-4 py-6 sm:px-0">
            <div class="border-4 border-gray-200 rounded-lg h-112 flex-row space-y-2 px-2 py-2">
                
                <!-- DISPLAYING Standard Tuning specification -->
                <h2 class="font-semibold underline">Standard Tuning: </h2>
                <p class="px-6">{{currentNote.notation}}, frequency: {{currentNote.frequency}} Hz</p>

                <!-- Current instrument and tuning-->
                <div class ="border-2 m-64 text-center rounded-lg border-yellow-600">
                <h2 class="font-semibold underline">Tuning for {{currentInstrument.name}}: </h2>
                    <div class="grid grid-flow-col grid-rows-3 place-items-center ">
                        <div class="text-justify" *ngFor="let item of currentInstrument.tuningOctaves">
                            {{item}} - {{equalTempScale.findFrequencyUsingNote(item)}} hz 
                        </div>
                    </div>
                </div>
                
                <!-- Halfsteps calculation and input -->    
                <form class ="border-2 m-64 text-center rounded-lg border-yellow-600">
                    <label>Input half steps away from A4 (440 Hz):
                        <input class="border-2 border-green-600 text-center m-2" 
                                type="number" 
                                name="freq-input" 
                                [(ngModel)]="halfSteps" 
                                min="-57" 
                                max="50" 
                                value="halfSteps" >
                        <p>Freq of {{halfSteps}} half steps from A4: </p>
                        <p class="font-semibold">{{calculateFreqFromHalfSteps(halfSteps)}}</p>
                    </label>
                </form>


                <!-- CAPTURE AUDIO HERE -->
                <!-- Media Player and input output devices-->    
                <h2 class="font-semibold">Press 'Play' to hear yourself: </h2> 
                <audio id="player" controls></audio>
                <p id=".audioDevices"></p>

                <br>

                <!-- Display user's true frequency -->    
                <div class="text-center">
                    <p>Your frequency response: </p>
                    <p class="flexbox" id="user-freq-response-output">
                        
                        <!-- {{analyser ? analyser.fftSize : "" }} -->
                    
                    </p>
                </div>

            </div>
        </div>
        <!-- /End replace -->
    </div>
</main>

