@layer base {
    button {
        @apply 
        px-4 py-1
        font-medium font-semibold 
        text-gray-700 bg-yellow-600 
        rounded-full shadow-lg
        hover:bg-yellow-300 hover:text-gray-900
        focus:outline-none
        focus:ring-2
        focus:ring-offset-2
        focus:ring-green-600
        inline-flex
        items-center
        text-base
        
        
        ;

    }
}

/* py-2 
px-4 
font-semibold 
rounded-lg 
shadow-md 
text-white 
bg-yellow-500 
hover:bg-yellow-700 */


/* 

h1 {
    margin-bottom: 0;
}

nav a {
    padding: 0.75rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    justify-content: space-around;
    background-color: #354249d5;
    color: #f8b800;
    border-radius: 10px;



}

nav a:hover {
    color: white;
    background-color: #42545C;
  }

nav a.active {
    background-color: black;
} */