/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */

/* Credits to Amadou Sall - amadousall.com */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  color: #1F2C0F  ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  
}
h2, h3 {
  color: #1F2C0F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #081C25;
  font-family: Cambria, Georgia, serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:#f3ebde;
} */